body {
    margin: 0;
    padding: 0;
}

.input-section {
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    background-color: #6D8B74;
    color: white;
}

.input-list {
    margin-bottom: 5px;
}

#btn:hover {
    background-color: #D0C9C0;
}

.card {
    display: flex;
    flex-direction: row;
}

.userCard {
    margin: 30px;
    padding: 20px;
    width: 50%;
}

.list-group {
    list-style-type: none;
}

.list-group-item {
    margin-bottom: 10px;
}